:local(.container) {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(251, 246, 246);
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-weight: 400;
    justify-content: flex-end;
    left: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    pointer-events: none;
    position: fixed;
    right: 0px;
    text-transform: none;
    top: 0px;
}

:local(.sec){
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(251, 246, 246);
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-weight: 400;
    justify-content: flex-end;
    left: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    pointer-events: none;
    position: fixed;
    right: 0px;
    text-transform: none;
    top: 0px;
}

:local(.zoomin){
    align-self: flex-end;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0.6);
    background-image: none;
    background-origin: padding-box;
    background-position: 0% 0%;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-sizing: border-box;
    color: rgb(251, 246, 246);
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-variant: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-weight: 400;
    height: 25px;
    line-height: 25.2px;
    margin-bottom: 4px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    pointer-events: auto;
    text-align: center;
    text-transform: none;
    width: 25px;
    -moz-user-select: none;
}

:local(.zoomout){
    align-self: flex-end;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0.6);
    background-image: none;
    background-origin: padding-box;
    background-position: 0% 0%;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-sizing: border-box;
    color: rgb(251, 246, 246);
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-variant: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-weight: 400;
    height: 25px;
    line-height: 22.4px;
    margin-bottom: 4px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    pointer-events: auto;
    text-align: center;
    text-transform: none;
    width: 25px;
    -moz-user-select: none;
}
:local(.ui) {
    align-self: flex-end;
    box-sizing: border-box;
    color: rgb(251, 246, 246);
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-variant: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-weight: 400;
    line-height: 16px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 25px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 8px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    pointer-events: auto;
    position: relative;
    text-transform: none;
    width: 25px;

}

:local(.li) {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    background-origin: padding-box;
    background-position: 0% 0%;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto auto;
    box-sizing: border-box;
    color: rgb(255, 243, 225);
    cursor: pointer;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-variant: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-weight: 400;
    line-height: 12px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    pointer-events: auto;
    position: relative;
    text-transform: none;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: ease;
    white-space: nowrap;
}

:local(.tip) {
    border-bottom-left-radius: 14.4px;
    border-bottom-right-radius: 14.4px;
    border-top-left-radius: 14.4px;
    border-top-right-radius: 14.4px;
    box-sizing: border-box;
    color: rgb(255, 88, 71);
    cursor: pointer;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-variant: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-weight: 400;
    height: 17px;
    line-height: 16.8px;
    list-style-image: none;
  /*  list-style-position: outside;*/
    list-style-position: revert;
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 1.5px;
    padding-bottom: 0px;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 0px;
    pointer-events: auto;
    position: absolute;
    right: 22px;
    text-decoration: underline;
    text-decoration-color: rgb(255, 243, 225);
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-shadow: rgba(0, 0, 0, 0.63) 1px 1px 1px;
    text-transform: none;
    top: 0px;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: background-color;
    transition-timing-function: ease;
    vertical-align: middle;
    white-space: nowrap;
    z-index: -1;
    -moz-user-select: none;
}


:local(.icon){
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(212, 149, 0);
    background-image: none;
    background-origin: padding-box;
    background-position: 0% 0%;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.63) 1px 1px 1px 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: table-cell;
    font-family: iconfont;
    font-size: 14px;
    font-variant: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-weight: 400;
    height: 20px;
    line-height: 14px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    pointer-events: auto;
    text-align: center;
    text-transform: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 20px;
    -moz-user-select: none;
}